html {
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-color: rgb(142, 142, 142);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navbar div {
  padding: 20px 30px 20px 30px;
  color: white;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  text-transform: capitalize;
}
.myLogo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  border-radius: 20px;
  height: 60px;
  background: url(./images/myLogo.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.myLogo::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  border: 3px solid rgb(237, 237, 237);
  border-radius: 20px;
}
.container_home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;


  background-image: linear-gradient(to right, rgb(213, 213, 213), rgb(0, 0, 0));
}

.svg_home_first {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  transform: rotate(180deg);
}
.svg_home_second {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  height: 350px;
  transform: rotate(180deg);
}
.profile_picture img {
  width: 300px;
}
.profile_picture {
  position: relative;
  width: 40%;
  background: url(./images/profile-image2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  left: 100%;
  transition-duration: 2s;
}
.profile_picture_style {
  left: 0%;
}
.profile_picture_style_new {
  height: 80%;
}
.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border: 7px solid rgb(237, 237, 237);
  border-radius: 20px;
  transition-delay: 1s;
  transition-duration: 2s;
  z-index: 1;
}
.frame_new {
  top: 40px;
  left: 40px;
  border: 7px solid rgba(237, 237, 237, 0.61);
}

.information_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.my_name_home {
  position: relative;
  font-size: 6rem;
  transition-duration: 1.5s;
  right: 100%;
  opacity: 0;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
}

.home_h1 {
  right: 0;
  opacity: 1;
}
.my_job_dec {
  position: relative;
  margin-top: -50px;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  letter-spacing: 5px;
  right: 100%;
  opacity: 0;
  transition-duration: 2s;
}
.my_job_dec_new {
  right: 0%;
  opacity: 1;
}
.my_home_button {
  position: relative;
  padding: 15px 30px 10px 30px;
  border: none;
  background-color: #ffbb56;
  color: rgb(83, 83, 83);
  border-radius: 5px;
  font-size: 1.5rem;
  outline: none;
  opacity: 0;
  right: 100%;
  font-weight: bold;
  color: rgb(83, 83, 83);
  transition-duration: 2.5s;
}
.my_home_button:hover {
  box-shadow: 0px 5px 10px 2px rgb(87, 87, 87);
  transition-duration: s;
}
.my_home_button_new {
  right: 0%;
  opacity: 1;
}
.icons {
  font-size: 3rem;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  color: white;
}
.icons a {
  text-decoration: none;
  color: white;
}

/* HOME ABOUT */

.home_about {
  height: 100vh;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.about_home_text {
  position: relative;
  width: 700px;
  height: 600px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding-left: 40px;
  padding-right: 30px;
  border-radius: 20px;
  left: 100%;
  opacity: 0;
  transition-duration: 2s;
  line-height:45px;
  margin-left: 10px;
}
.about_home_text_new {
  left: 0%;
  opacity: 1;
}
.about_home_text button {
  padding: 15px 30px 10px 30px;
  background-color: #ffbb56;
  font-weight: bold;
  color: rgb(83, 83, 83);
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 0px 5px 10px 2px rgb(143, 143, 143);
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.5rem;
}
.about_home_text h1 {
  font-size: 3rem;
}
.about_home_picture {
  position: relative;
  width: 500px;
  height: 600px;
  background: url("./images/draw.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  right: 100%;
  transition-duration: 3s;
  opacity: 0;
  margin-right: 10px;
}
.about_home_picture_new {
  right: 0%;
  opacity: 1;
}
.background {
  height: 400px;
  width: 100%;
  background-image: url("./images/snow.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(
    50% 8%,
    100% 0,
    100% 35%,
    100% 70%,
    100% 100%,
    50% 92%,
    0 100%,
    0% 70%,
    0% 35%,
    0 0
  );
}
.background h1 {
  font-size: 3rem;
  z-index: 2;
  color: white;
}
.background p {
  color: white;
  z-index: 2;
  width: 600px;
}
.background::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.701);
}

.coding {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_frontend {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 20px 20px 100px;
}
.main_frontend h1 {
  color: rgb(92, 92, 92);
}
.frontend {
  height: 100%;
  width: 100%;
}
.main_label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_label h3 {
  color: rgb(58, 58, 58);
}
.slider_frame {
  width: 80%;
  height: 20px;
  margin-left: 20px;
  background: gray;
  border-radius: 5px;
  position: relative;
}
.slider_value {
  height: 20px;
  width: 0;
  transition-duration: 2s;
  background-color: black;
  border-radius: 5px;
}
.main_backend {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 100px 20px 20px;
}
.main_backend h1 {
  color: rgb(92, 92, 92);
}
.backend {
  height: 100%;
  width: 100%;
}
.show_value {
  position: absolute;
  left: 60%;
  top: -25px;
}
.timeline {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}
.timeline div {
  height: auto;
  width: 60%;
  text-align: left;
}
.timeline div:nth-child(odd) {
  border-top: 2px solid red;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-start-end-radius: 20px;
  border-end-end-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  margin-left: 20px;
  padding-right: 20px;
}
.timeline div:nth-child(even) {
  position: relative;
  border-left: 2px solid red;
  border-left-style: dotted;
  border-end-start-radius: 20px;
  border-start-start-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-right: 20px;
}
.timeline div h2 {
  padding-bottom: 5px;
  margin: 0;
  padding-top: 10px;
}
.timeline div p {
  margin: 0;
  padding-bottom: 20px;
}
.timeline div:nth-child(odd) .timelineNumber {
  position: absolute;
  right: 0;
  transform: translate(50%, -50%);
  top: 50%;
  width: 35px;
  height: 35px;
  background-color: #ffbb56;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
}
.timelineNumber{
  opacity: 0;
  transition-delay: 0.3s;
  transition-duration: .6s;
 
}

.timelineNumber_new{
    opacity: 1;
  transition-delay: 0.3s;
  transition-duration: .6s;

}
.timelinePar {
  opacity: 0;
  transition-delay: 2s;
  transition-duration: 1.5s;
 
}
.timelinePar_new {
  opacity: 1;
  transition-delay: 0.7s;
  
}

.timeline div:nth-child(even) .timelineNumber {
  position: absolute;
  left: 0;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 35px;
  height: 35px;
  background-color: #ffbb56;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
}
.timeline h1 {
  font-size: 3rem;
}
.secondBackground {
  height: 100px;
  width: 100%;
  height: 400px;
  margin-top: 50px;
  width: 100%;
  background-image: url("./images/secondSnow.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(
    50% 0%,
    100% 11%,
    100% 100%,
    52% 91%,
    0 100%,
    0% 60%,
    0 11%
  );
}
.secondBackground::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.445);
}
.secondBackground h1 {
  font-size: 3rem;
  z-index: 2;
  color: white;
}
.secondBackground p {
  color: white;
  z-index: 2;
  width: 600px;
}
.main_timeline {
  position: relative;
}
.myBlogs {
  padding-top: 100px;
  position: relative;
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  place-items: center;
}
.blogs {
  position: relative;
  height: 400px;
  width: 350px;
  background-color: #464646;
  border-radius: 1px solid black;
  margin: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transform: scale(0);
  opacity: 0;
  transition-duration: .5s;
  overflow: hidden;
}
.blog_new {
  transform: scale(1);
  opacity: 1;
}
.hoverCover{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color:#000000a1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top:150%;
  transition-duration:.5s;

}
.blogs:hover .hoverCover{

  top:60%;
}
.hoverCover .button_Link{
  padding:10px 35px 10px 35px;
  border:none;
  outline:none;
  background-color: #ffbb56;
  color:rgb(0, 0, 0);
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;  
  margin-top: -20px;

}


.picBlogs {
  height: 60%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.textBlox {
  height: 40%;
  width: 100%;
  text-align: left;
}
.textBlox h3 {
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;
  color:white;
}
.textBlox p {
  margin: 0;
  padding: 10px;
  padding-left: 20px;
    color:white;
}
.footer {
  height: 150px;
  width: 100%;
  background-color: rgb(37, 37, 37);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.iconsFooter {
  font-size: 1.5rem;
  color: white;
}
.iconsFooter a {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.footer p {
  margin: 0;
  padding-top: 5px;
}
@media only screen and (max-width: 900px) {
  .myBlogs{
    grid-template-columns: repeat(2, 1fr);
    
  }
  .coding{
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }
  .main_backend{
    margin:0;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .main_frontend{
    margin:0;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .home_about{
    flex-direction: column;
  }
  .about_home_text{
    width: 80%;
    margin-bottom: 100px;
  }
  .about_home_picture{
    width: 70%;
    margin-bottom: 60px;

  }
  .container_home{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140%;
  
    
  }
  .my_name_home{
    padding:0;
    
  }
  .home_about{
    height:auto;
  }
  .information_home {
    display:flex;
    justify-content: center;
    text-align: center;
    margin:50px;
  }
  .about_home_text h1{
   
  }
}

@media only screen and (max-width: 700px) {
  .myBlogs{
    grid-template-columns: repeat(1, 1fr);
  }
  .about_home_picture{
    width: 70%;
    margin-bottom: 150px;

  }
  .about_home_text{
    width: 80%;
    margin-bottom: 200px;
  }
}